.color-bg-footer {
  border-radius: 6px;
  span {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
  }
}
.color-created-footer {
  color: #dadcdeb5;
  
}

.text-muted {
  li {
    a {
      color: #dadcdeb5;
    }
  }
}
.line-hr {
  color: #6b6b6b;
  border: 1px solid;
}

.color-bg-footer {
  background-color: #606469;
}

.color-created-footer {
  color: #dadcdeb5;
}

@media (max-width: 550px) {
  .footer {
    .text-white {
      font-size: 20px;
    }
  }
}